.addroom-parent {
    display: flex;
    justify-content: center;
}
.addroom-container {
    width: 74%;
    height: 1000px;
    border: 3px solid #277772;
    border-radius: 30px;
    position: relative;

}
.booking-header {
    margin: 2rem;
    font-family: 'calibri';
    font-size: 2rem;
    color: #277772;
}
.order {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 10rem;
    margin-left: 3rem;
    border: 2px solid #277772;
    border-radius: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.price {
    display: flex;
    flex-direction: column;
}
.available {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'calibri';
    font-size: 2rem;
    color: #277772;
    background-color: #FFAD2D;
    width: 20rem;
    height: 3rem;
    border-radius: 60px;
}
.price-val {
    color: #277772;
    font-family: 'calibri';
    font-size: 4.1rem;
}
.square {
    height: 1rem;
    width: 1rem;
    border: 5px;
    background-color: #277772;
    margin-top: .2rem;
}
.room-sum {
    display: flex;
    font-family: 'calibri';
    font-size: 1.2rem;
    color: #277772;
}
.addons {
    font-size: 1.2rem;
    font-family: 'calibri';
    color: #277772;
}